body {
    margin: 0 !important;
    background-image: url("backg2.jpg");
    background-color: #cccccc;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url("backg2.jpg");
    background-color: #cccccc;}

